//- index.jade
extends layouts/main.jade

block title
    title Article Title

block content
    h1 My Article

    .row
        .small-6.large-2.columns
            p Hello
        .small-6.large-8.columns
            p Grid