//- layout.jade
doctype html
html
    head
        link(rel='stylesheet', href='/assets/stylesheets/all.css')
        block title
            title Default title
    body
        include ../partials/header.jade

        block content

        include ../partials/footer.jade
