doctype html
html
	head
		link(rel='stylesheet', href='/assets/stylesheets/all.css')
		block title
			title Default title
	body
		.row
			.large-12.middle-12.small-12.columns
				include ../partials/header.jade

				block content

				include ../partials/footer.jade
